<ion-view view-title="Membros 2 Grau">
  <ion-content ng-controller="ProcessoCtrl">

   <ion-list>
      <div class="item item-divider">
        Decisões interlocutórias
      </div>
    
      <ion-item ng-repeat="processo in processos">
      {{processo.protocola}}
      </ion-item>
    
     <div class="item item-divider">
       Julgamentos com mérito
      </div>
     
     <ion-item>
      ronny
     </ion-item>

     <div class="item item-divider">
       Julgamentos sem mérito
      </div>

     <ion-item>
      ronny
     </ion-item>

     <div class="item item-divider">
       Audiências presididas
      </div>
     
     <ion-item>
      ronny
     </ion-item>

     <div class="item item-divider">
       Decisões administrativas
      </div>
     
     <ion-item>
      ronny
     </ion-item>

   </ion-list>


  </ion-content> 
</ion-view>